.tp-caption.big_white {
color:#ffffff;
text-decoration:none;
background-color:rgb(0, 0, 0);
background-color:rgba(0, 0, 0, 0);
padding:14px 18px 10px 18px;
text-shadow:none;
margin:0px;
border-width:0px;
border-color:rgb(255, 255, 255);
border-style:none;
}

